.ui-calendar {
  position: relative;
  float: left;
}
.ui-calendar label {
  display:block;
}
.ui-calendar .ui-calendar_selector {
  background-color: #ffffff;
  width: 110px;
  padding: 10px;
  border:1px solid #808080;
}
.ui-calendar .ui-calendar_button_div {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.ui-calendar a {
  text-decoration: none;
}
.ui-calendar .ui-calendar_mask {
  display: block;
  background-color: #000000;
  opacity: 0.50;
  height: 100%;
  width: 100%;
  left: 0pt;
  top: 0pt;
  margin: 0pt;
  padding: 0pt;
  position: absolute;
  z-index: 2;
  float: left;
}