.ui-calendar__osx {
  padding: 5px;
  font-size:10px;
  font-family: "Lucida Grande","Bitstream Vera Sans","Verdana",sans-serif;
}
.ui-calendar__osx table {
  border-collapse: collapse;
  border-spacing: 0pt;
}
.ui-calendar__osx th { 
  vertical-align: middle; 
  width: 1.8em;
  font-size:10px;
}
.ui-calendar__osx th .ui-calendar_prev, 
.ui-calendar__osx th .ui-calendar_next {
  cursor: pointer;
  top: 0pt;
  bottom: 0pt;
  width: 13px;
  display: block;
  position: absolute;
} 
.ui-calendar__osx th .ui-calendar_prev { 
  left: 0px;
  margin-left: 0.4em;
  background: transparent url(osx/buttons-sprite.png) no-repeat 0px 0px;
}
.ui-calendar__osx th .ui-calendar_next {
  right: 0px;
  margin-right: 0.4em;
  background: transparent url(osx/buttons-sprite.png) no-repeat -26px 0px;
}
.ui-calendar__osx th .ui-calendar_header {
  font-weight: bold;
  text-align: center;
  position: relative;
  width: 100%;
  line-height: 14px;
  vertical-align: top;
  margin-bottom: 5px;
}
.ui-calendar__osx td {
  background: #ffffff url(osx/day-sprite.png) repeat-x -32px 0px;
  text-align: center;
  font-size:10px;
  height: 16px;
  line-height: 16px;
}
.ui-calendar__osx td a {
  color: #000000;
  display: block;
  text-decoration: none;
}
.ui-calendar__osx td.ui-calendar_today {
  background: #ffffff url(osx/today-sprite.png) repeat-x -32px 0px; 
}
.ui-calendar__osx td.ui-calendar_today a { 
  color: #ffffff; 
}
.ui-calendar__osx td.ui-calendar_selected { 
  background: #ffffff url(osx/selectday-sprite.png) repeat-x -32px 0px;
}
.ui-calendar__osx td.ui-calendar_selected a { 
  font-weight: bold; 
  color: #ffffff;
}
.ui-calendar__osx td.ui-calendar_non_current { 
  color: #A6A6A6; 
  cursor: default; 
}
.ui-calendar__osx td.ui-calendar_first { 
  background-position: 0px -18px;
}
.ui-calendar__osx td.ui-calendar_last { 
  background-position: top right;
}
.ui-calendar__osx td.ui-calendar_outside { 
  color: silver; 
}