/* MAC OS X STYLES */

.aqua_ui_menu {
	width: 12em;
	background: url(aqua/bg.png) repeat;
}
.aqua_ui_menu ul {
	border: 1px solid #c3c3c3;
	padding: 2px 0;
}
.aqua_ui_menu a {
	color: #555;
	padding: 2px 15px;
	margin: 0 2px;
}
.aqua_ui_menu a:hover {
	background: #3875D7;
	color: #fff;
}
.aqua_ui_menu a.disabled {
	color: #bbb;
}
.aqua_ui_menu a.disabled:hover {
	background: url(aqua/bg.png) repeat;
	color: #bbb;
}
.aqua_ui_menu .separator {
	background: url(aqua/separator.png) repeat-x;  
	height: 2px;
	margin: 2px;   
	line-height: 1px;   
	overflow: hidden;
}