.ui-context_menu__aqua {
	width: 12em;
	background: url(aqua/bg.png) repeat;
}
.ui-context_menu__aqua ul {
	border: 1px solid #c3c3c3;
	padding: 2px 0;
}
.ui-context_menu__aqua a {
	color: #555;
	padding: 2px 15px;
	margin: 0 2px;
}
.ui-context_menu__aqua a:hover {
	background: #3875D7;
	color: #fff;
}
.ui-context_menu__aqua a.disabled {
	color: #bbb;
}
.ui-context_menu__aqua a.disabled:hover {
	background: url(aqua/bg.png) repeat;
	color: #bbb;
}
.ui-context_menu__aqua .separator {
	background: url(aqua/separator.png) repeat-x;  
	height: 2px;
	margin: 2px;   
	line-height: 1px;   
	overflow: hidden;
}