/* DESKTOP STYLES */

.desktop_ui_menu {
	width: 14em;
	background: #f9f8f7;
}
.desktop_ui_menu ul{
	border: 1px solid #666;
	padding: 1px 0;
}
.desktop_ui_menu a {
	color: #555;
	padding: 3px 0 3px 25px;
	margin: 0 1px;
	border: 1px solid #f9f8f7;
	cursor: pointer;
}
.desktop_ui_menu a.disabled {
	color: #bbb;
	cursor: default;
}
.desktop_ui_menu .separator {
	border-bottom: 1px solid #fff;
	background: #999;
	margin: 2px 4px;
}
.desktop_ui_menu a:hover {
	background-color: #b6bdd2;
	border: 1px solid #0a246a;
}
.desktop_ui_menu a.disabled:hover {
	background: #f9f8f7;
	color: #bbb;
	border: 1px solid #f9f8f7;
}