/* FIREFOX STYLES */

.firefox_ui_menu {
	width: 12em;
	background: #F4F5EB;
} 
.firefox_ui_menu ul {
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
	padding: 2px 0;
}
.firefox_ui_menu a {
	color: #555;
	padding: 4px 15px;
	margin: 0 2px;
}
.firefox_ui_menu a:hover {
	background: #006;
	color: #fff;
}
.firefox_ui_menu a.disabled {
	color: #bbb;
}
.firefox_ui_menu a.disabled:hover {
	background: #F4F5EB;
	color: #bbb;
}
.firefox_ui_menu .separator {
	border-bottom: 1px solid #fff;
	background: #999;
	margin: 2px 4px;
}