/* GOOGLE STYLES */

.google_ui_menu {
	width: 10.5em;
	background: #fff;
}
.google_ui_menu ul {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #676767;
	border-right: 1px solid #676767;
}
.google_ui_menu a {
	color: #00c;
	text-decoration: none;
	padding: 2px 5px;
	cursor: pointer;
	font-size: 12px;
}
.google_ui_menu a:hover {
	background: #D3E3FE;
}
.google_ui_menu a.disabled {
	color: #bbb;
}
.google_ui_menu a.disabled:hover {
	background: #fff;
	color: #bbb;
}
.google_ui_menu .separator {
	background: #ccc;
}