/* MAC OS X STYLES */

.osx_ui_menu {
	width: 12em; 
	background:#FFF;
}
.osx_ui_menu ul {
	padding: 2px 0;
}                 
.osx_ui_menu a:link,
.osx_ui_menu a:visited,
.osx_ui_menu a {
	color: #333;
	padding: 0px 15px;
	margin: 0 0px;
  font-family: "Lucida Grande" , arial, sans-serif;
	font-size:14px;  
	height:22px;
	line-height:22px;
}
.osx_ui_menu a:hover {
	background: url(osx/selected_bg.png);
	color: #fff;
}
.osx_ui_menu a.disabled {
	color: #bbb;
}
.osx_ui_menu a.disabled:hover {
	background: #FFF;
	color: #bbb;
}
.osx_ui_menu .separator {
	background: #e2e4e3;
	height: 1px;
	margin: 2px;
	line-height: 1px;   
	overflow: hidden;
}