.ui-context_menu__osx {
	width: 12em; 
	background:#FFF;
}
.ui-context_menu__osx ul {
	padding: 2px 0;
}                 
.ui-context_menu__osx a:link,
.ui-context_menu__osx a:visited,
.ui-context_menu__osx a {
	color: #333;
	padding: 0px 15px;
	margin: 0 0px;
  font-family: "Lucida Grande" , arial, sans-serif;
	font-size:14px;  
	height:22px;
	line-height:22px;
}
.ui-context_menu__osx a:hover {
	background: url(osx/selected_bg.png);
	color: #fff;
}
.ui-context_menu__osx a.disabled {
	color: #bbb;
}
.ui-context_menu__osx a.disabled:hover {
	background: #FFF;
	color: #bbb;
}
.ui-context_menu__osx .separator {
	background: #e2e4e3;
	height: 1px;
	margin: 2px;
	line-height: 1px;   
	overflow: hidden;
}