.mac_os_x.UI-widget {
	/*
	 * Would be the nicer implementation for floating of Widgets in conjunktion 
	 * with input <input/> elements. But sadly the order of the widget parts
	 * is broken than in FireFox (at least until v2)
	 * 
	display: -moz-inline-box;
	display: inline-block;
	*/
	display: block;
	float:left;
	position:relative;
}

.mac_os_x.UI-widget-hidden-input .UI-widget-w {
	display: block;
	float:left;
	background: url(mac_os_x/w.png) top left no-repeat;
	padding: 1px 0;
	width:8px;
	height: 21px;
	margin: 0;
	border: none;
}

.mac_os_x.UI-widget .UI-widget-e {
	display: block;
	float:left;
	background: url(mac_os_x/e.png) top right no-repeat;
	padding: 1px 0;
	height: 21px;
	width: 17px;
	margin:0;
}

.mac_os_x.UI-widget .UI-widget-c {
	font: 13px "Lucida Grande", arial, sans-serif;
	position:relative;
	display: block;
	float:left;
	background: url(mac_os_x/c.png) top left repeat-x;
	margin: 0;
	padding: 3px 0;
	height: 17px;
}

.mac_os_x.UI-widget-hidden-input .UI-widget-c {
	padding-right:8px;
}

.mac_os_x.UI-widget input {
	float:left;
	line-height: 13px;
	height: 17px;
	margin: 0;
	padding: 1px 3px;
	border: 1px solid #7e7e7e;
	font: 13px "Lucida Grande", arial, sans-serif;
}

.mac_os_x.UI-widget .UI-widget-output {
	position: relative;
	margin: 0;
	padding: 0;
	font: 13px "Lucida Grande", arial, sans-serif;
	line-height: 13px;
	top: 4px;
}

.mac_os_x.UI-widget input.transparent {
	line-height: 13px;
	height: 15px;
	border: none;
	font: 13px "Lucida Grande", arial, sans-serif;
	background: transparent;
}



.mac_os_x.UI-widget-dropdown {
	border: none;
	padding:0;
	background: #fff;
	font: 13px "Lucida Grande", arial, sans-serif;
}

.mac_os_x.UI-widget.mac_os_x.UI-widget-date input {
	width:8em;
}

/*
.mac_os_x.UI-widget-date .UI-widget-e {
	background: transparent url(mac_os_x/ical-e.png) top right no-repeat;
}
.mac_os_x.UI-widget-date .UI-widget-c {
	margin-right:21px;
}

.mac_os_x.UI-widget-color .UI-widget-e {
	background: transparent url(mac_os_x/color-e.png) top right no-repeat;
}
*/

.mac_os_x.UI-widget-selection .UI-widget-e {
	background: transparent url(mac_os_x/selection-e.png) top right no-repeat;
	width:21px;
}

.mac_os_x.UI-widget-color input {
	width:7em;
}

.mac_os_x.UI-widget-color-dropdown input {
	width:12px;
}

.mac_os_x.UI-widget-color-dropdown {
	padding: 10px;
}

.mac_os_x.UI-widget-color .UI-widget-color-preview {
	display: block;
	float:left;
	padding: 0;
	width: 20px;
	height: 21px;
	background: url(mac_os_x/color-c.png) top right no-repeat;
}

.mac_os_x.UI-widget-selection-dropdown li {
	line-height: 18px;
}

.mac_os_x.UI-widget-selection-dropdown li span {
	padding-left: 20px;
}

.mac_os_x.UI-widget-selection-dropdown li.selected span {
	background: transparent url(mac_os_x/selected.png) center left no-repeat;
}

.mac_os_x.UI-widget-selection-dropdown li.selected:hover span {
	background: transparent url(mac_os_x/selected_hover.png) center left no-repeat;
}

.mac_os_x.UI-widget-selection-dropdown li:hover {
	background: url(mac_os_x/selected_bg.png) #1a43f3 top repeat-x;
	color: #fff;
}


.mac_os_x.UI-widget-color-dropdown {
	padding: 0;	
}

.mac_os_x.UI-widget-color-dropdown .UI-widget-color-view {
	position: absolute;
	right:4px;
	top:10px;
	width: 57px;
	height: 57px;
	border: 1px inset #999;
}

.mac_os_x.UI-widget-dropdown .track {
	position: relative;
	top:10px;
	margin: 0 5px;
	margin-right:70px;
	padding: 0 6px;
}

.mac_os_x.UI-widget-dropdown .slider {
	top: -3px;
	margin-left: 2px;
	width: 19px;
	height: 19px;
	background: transparent url(mac_os_x/slider.png) center no-repeat;
	border: none;
}
