.mini_ui_widget  {
	border: none;
	background: transparent;
	padding: 0;
	line-height: 100%;
	font-family: sans-serif;
	font-size: 10px;
}

.mini_ui_widget .ui_widget-e{
	background: transparent url(mini/control.gif) center no-repeat;
  padding:5px;
}

.mini_ui_widget .ui_widget-c {
}

.mini_ui_widget input {
	line-height: 10px;
	height:12px;
	font: 10px sans-serif;
	border: 1px solid #333;
	padding: 1px 3px;
}


.mini_ui_pulldown {
	font-family: sans-serif;
	font-size: 10px;
    background: #fff;
	padding:2px;	
	border:none;
}

.mini_ui_widget-date input {
	width:8em;
}

.mini_ui_widget .ui_widget-color-preview {
	position:relative;
	border: 1px solid #333;
	padding: 0 4px;
	top: -1px;
	margin-left: 2px;
	font-size:6px;
}

* html .ui_widget .ui_widget-color-preview {
	padding:4px;
}

.mini_ui_widget-color .ui_widget-e {
	background: transparent;
}

.mini_ui_widget-color {
	padding-right:0;
}

.mini_ui_widget-color input {
	width:7em;
}

.mini_ui_pulldown input.checkbox {
	width:12px;
}

.mini_ui_pulldown ul {
	margin: 0;
  padding: 0;
  list-style: none;
}

.mini_ui_pulldown li span {
  margin-left:3px;
	padding-left:6px;
  padding-right:3px;
}

.mini_ui_pulldown li:hover {
  background: #1a43f3;
  color:#fff;
}

.mini_ui_pulldown li.selected span {
	background: transparent url(mini/selected.gif) center left no-repeat;
}

.mini_ui_pulldown li.selected:hover span {
	background: #1a43f3 url(mini/selected_hover.gif) center left no-repeat;
}


.mini_ui_pulldown li {
  line-height: 12px;
}

.mini_ui_pulldown .ui_widget-color-view {
	position: absolute;
	right: 4px;
	top:7px;
	width: 43px;
	height: 43px;
	border: 1px solid #333;
}
 
.mini_ui_pulldown .track {
	margin-right:55px;
}