.ui_widget  {
	cursor:pointer;
}

.ui_pulldown ul {
	padding:0;
	margin:0 -5px;

   padding: 5px;       
   height: auto !important; 
   height: 1%;
}

.ui_pulldown li {
  cursor: pointer;
  overflow: hidden;
  padding: 0 5px;
  list-style-type: none;
  width:auto;
}

.ui_pulldown li.selected span {
	
}

.ui_pulldown li:hover {
	background: #369;
	color: #fff;
	
}

.ui_pulldown label {
	width:auto;
	display:inline;
	float:none;
}

.ui_pulldown label {
	width:100px;
}

.ui_pulldown .track {
	position:relative;
	top:5px;
	height:5px;
	font-size:1px;
	margin-left:3px;
	margin-right:3px;
	background-color:#d3d9e2;
	border: 1px inset #a5a5a5;
}

.ui_pulldown .slider {
	position:relative;
	top: -4px;
	width:4px;
	height:8px;
	background-color:#999;
	border: 2px outset #999	;
}
