.vista_ui_progress  .pane {
	background: url(vista/pane.gif) top repeat-x;
	height: 12px;
	font-size:10px;
	border: 1px solid #b2b2b2;
}

.vista_ui_progress .bar {
	background: url(vista/bar.gif) top repeat-x;
	height: 12px;
}

.vista_ui_progress .working {
	background: url(vista/work.gif) top repeat-x;
}