.aqua_ui_tabbox div.tabbox_head {
  height: 18px;
  margin: 0px;
  padding:0;
  border:none;
  width:auto;
  border: none;
  position:static;
  overflow:visible;
  background:transparent;
}

.aqua_ui_tabbox .tabbox_head span {
  display: block;
  float: left;
  text-align:justify;
  padding:0;
  margin:0;
}

.aqua_ui_tabbox .tabbox_head span span {
  display: block;
  float: left;
  height: 18px;
  margin: 0px;
  background: url(aqua/default.gif) repeat-x;
  line-height: 16px;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 13px;

}

.aqua_ui_tabbox .tabbox_head span span.tab_w {
  float: left;
  display: block;
  width: 6px;
  background: url(aqua/default_w.gif);
}

.aqua_ui_tabbox .tabbox_head span span.tab_e {
  float: left;
  display: block;
  width: 6px;
  background: url(aqua/default_e.gif);
}

.aqua_ui_tabbox .tabbox_head span.selected {
  background:transparent;
}

.aqua_ui_tabbox .tabbox_head span.selected span {
  background: url(aqua/default_selected.gif) repeat-x;
}

.aqua_ui_tabbox .tabbox_head span.selected span.tab_w {
  background: url(aqua/default_selected_w.gif) repeat-x;
}

.aqua_ui_tabbox .tabbox_head span.selected span.tab_e {
  background: url(aqua/default_selected_e.gif) repeat-x;
}

.aqua_ui_tabbox div.tabbox_body {
  margin: 0px;
  padding: 10px;
  border: 1px solid #ccc;
  clear:left;
  position:static;
}