.osx_ui_tabbox div.tabbox_head {
  border-right:1px solid #a5a5a5;
  background: #D3D9E2;
  overflow: auto;
  position: absolute;
  left:0;
  top:0;
  bottom:0;
  margin:0;
  padding:0;
  width:160px;
  height:auto;
}

.null_focused .osx_ui_tabbox div.tabbox_head {
  background: #e8e8e8;
}

.osx_ui_tabbox .tabbox_head span {
  display: block;
  float:none;
  text-align: left;
  padding: 0 5px;
  margin: 0;
  height:auto;
  white-space:nowrap;
  overflow:hidden;
}

.osx_ui_tabbox .tabbox_head span.separator {
  font-size: 1px;
  height:1px;
  line-height:1px;
  padding: 0;
  border-bottom:1px solid #a5a5a5;
}

.osx_ui_tabbox .tabbox_head span span {
  display: inline;
  padding: 0;
  background-image: none;
  font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height:22px;
  height:auto;
  float:none;
}

.osx_ui_tabbox .tabbox_head img {
  position: relative;
  margin-right: 5px;
  top: 3px;
}

.osx_ui_tabbox .tabbox_head span.selected {
  background: url(osx/selectedline.png) top repeat-x  #7285ac;
  color: #fff;
}

.null_focused .osx_ui_tabbox .tabbox_head span.selected {
  background: url(osx/selectedline_inactive.png) top repeat-x  #8c8c8c;
}

.osx_ui_tabbox .tabbox_head span.selected span {
  background:none;
}

.osx_ui_tabbox .tabbox_head span span.tab_w,
.osx_ui_tabbox .tabbox_head span span.tab_e {
  display:none;
}

.osx_ui_tabbox div.tabbox_head_with_buttons {
  bottom:29px;
  border-bottom:1px solid #A5A5A5;
}

.osx_ui_tabbox div.tabbox_buttons {
  position:absolute;
  height:29px;
  bottom:0;
  width:160px;
  border-right:1px solid #A5A5A5;
  background: transparent url(osx/toolbar_background.png) repeat-x scroll center top;
}

.osx_ui_tabbox div.tabbox_body {
  border:none;
  overflow: auto;
  position: absolute;
  left:161px;
  top:0;
  bottom:0;
  right:0;
  padding: 0 5px;
  text-align: left;
}

