.ui-window.ice .nw
{
  background:transparent url(ice/blur/nw.png) no-repeat;
  height:36px;
}
.ui-window.ice_focused .nw
{
  background:transparent url(ice/focus/nw.png) no-repeat;
}

.ui-window.ice .ne
{
  background:transparent url(ice/blur/ne.png) no-repeat right;
  height:36px;
}
.ui-window.ice_focused .ne
{
  background:transparent url(ice/focus/ne.png) no-repeat right;
}

.ui-window.ice .n
{
  font-size: 14px;
  line-height: 30px;
  font-family: Helvetica, Verdana;
  font-weight: bold;
  color:#d8d8d8;
  height:36px;
  background:transparent url(ice/blur/n.png) repeat-x scroll 0 0px;
  margin: 0px 21px;
}
.ui-window.ice_focused .n
{
  color:black;
  background:transparent url(ice/focus/n.png) repeat-x scroll 0 0px;
}

.ui-window.ice .sw
{
  background:transparent url(ice/blur/sw.png) no-repeat;
  height:24px;
}
.ui-window.ice_focused .sw
{
  background:transparent url(ice/focus/sw.png) no-repeat;
}

.ui-window.ice .se
{
  height:24px;
  background:transparent url(ice/blur/se.png) no-repeat right;
}
.ui-window.ice_focused .se
{
  background:transparent url(ice/focus/se.png) no-repeat right;
}

.ui-window.resizable.ice .se
{
  background:transparent url(ice/blur/se_resizeable.png) no-repeat right;
}
.ui-window.resizable.ice_focused .se
{
  background:transparent url(ice/focus/se_resizeable.png) no-repeat right;
}

.ui-window.ice .s
{
  background:transparent url(ice/blur/s.png) repeat-x scroll 0 0px;
  height:24px;
  margin: 0px 21px;
}
.ui-window.ice_focused .s
{
  background:transparent url(ice/focus/s.png) repeat-x scroll 0 0px;
}

.ui-window.ice .w
{
  background:transparent url(ice/blur/w.png) repeat-y left;
}
.ui-window.ice_focused .w
{
  background:transparent url(ice/focus/w.png) repeat-y left;
}

.ui-window.ice .e
{
  background:transparent url(ice/blur/e.png) repeat-y right;
}
.ui-window.ice_focused .e
{
  background:transparent url(ice/focus/e.png) repeat-y right;
}

.ui-window.ice .content
{
  background:white;
  margin:0px 21px;
  font-size:12px;
  font-family: Verdana;
}

.ui-window.ice .buttons
{
  position: absolute;
    top:13px;
    right:25px;
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.ui-window.ice .buttons:hover
{
  filter:alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

.ui-window.ice .buttons a
{
  display:block;
  width:17px;
  height: 17px;
  float:left;
  margin-left:2px;
}

.ui-window.ice .buttons a:hover
{
  height: 19px;
}

.ui-window.ice .buttons a.minimize
{
  background:transparent url(ice/minimize.png) no-repeat;
}

.ui-window.ice .buttons a.minimize.disabled
{
  filter:alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
  cursor: default !important;
}

.ui-window.ice .buttons a.close
{
  background:transparent url(ice/close.png) no-repeat;
}

.ui-window.ice .buttons a.maximize
{
  background:transparent url(ice/maximize.png) no-repeat;
}